.why_us_audi {
    margin-left: -20px;
}

.bg_vector_whyus {
    z-index: -10;
    max-height: 400px;
    /* margin-top: -100px; */
    position: absolute;
}

.whyus_img_grp {
    height: 50px;
    width: 50px;
}

.whyus_grey_text {
    font-size: 14px;
}

.audi_whyus_bg {
    margin-left: -20px;
    min-height: 300px;
    height: 430px;
    width: auto;
    /* margin-left:  */
}
.why_us_right_content{
    z-index:10
}

@media screen and (max-width: 991px) {
    .audi_whyus_bg{
        z-index: -10px;
        opacity: 0.2;
        /* display: none; */
        position: absolute;
    }
}